@import "bourbon/bourbon"

body
	font-family: "Raleway", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 800px
	position: relative
	line-height: 1.42857
	-webkit-font-smoothing: antialiased
	margin: 0
	padding: 0
	background-image: url("../img/main-bg.jpg")
	background-size: cover
	background-position: center
	background-attachment: fixed
section
	position: relative
	display: none
	opacity: 0
	position: fixed
	right: -100%
	z-index: 0
.active 
	opacity: 1
	right: 0
	display: table
	z-index: 1
h2
	font-weight: normal
	margin: 0
	font-size: inherit
ul 
	list-style-type: none
	margin: 0
	padding: 0
#main, #menu
.info-wrap 
	margin: 0 auto
	display: table-cell
	vertical-align: middle
#main
	display: table
	width: 100%
	text-align: center
	.title
		text-align: center
		background-color: rgba(14, 37, 70, 0.3)
		display: inline-block
		padding: 7% 3%
		width: 87%
		margin: 0 auto
		box-sizing: border-box
		color: #f4e8c7
		text-transform: uppercase
		line-height: 150%
		font-size: 9vh
		h1
			margin: 0
		.symbol
			color: #f20526
			margin-top: 5%
#menu
	display: table
	width: 100%
	.nav
		li
			width: 43%
			height: 43%
			background-size: cover
			background-position: center
			margin: 1px
			position: absolute
			opacity: 0
			cursor: pointer
			.title-nav-wrap
				display: block
				color: #f4e8c7
				font-size: 40px
				line-height: 50px
				text-transform: uppercase
				text-decoration: none
				height: 100%
				
				.category
					display: block
					width: 323px
					height: 135px
					padding: 10px 20px
					box-sizing: border-box
					position: relative
					text-align: center

					h2
						margin-bottom: 5%
					.description
						text-align: left
						font-size: 36px
						line-height: 44px
						margin: 0
						text-transform: none
						// opacity: 0
						display: none
						.author
							display: block
							text-align: right

		.history
			background-image: url("../img/menu-history-bg.jpg")
			top: -10%
			left: -10%
			.category
				background-color: rgba(22, 38, 60, 0.3)
		.history-animate
			top: 7%
			left: 7%
			opacity: 1
		.crimeans
			background-image: url("../img/menu-crimeans-bg.jpg")
			top: -10%
			right: -10%
			.category 
				background-color: rgba(12, 12, 11, 0.28)
		.crimeans-animate
			top: 7%
			right: 7%
			opacity: 1
		.heroes
			background-image: url("../img/menu-heroes-bg.jpg")
			left: -10%
			bottom: -10%
			h2
				margin-bottom: 3% !important
			.category 
				background-color: rgba(12, 12, 11, 0.28)
		.heroes-animate
			left: 7%
			bottom: 7%
			opacity: 1
		.nature
			background-image: url("../img/menu-nature-bg.jpg")
			right: -10%
			bottom: -10%
			.category
				background-color: rgba(22, 38, 60, 0.3)
		.nature-animate
			right: 6.879%
			bottom: 7%
			opacity: 1
		.zoom
			width : 100%
			height: 100%
			cursor: default
			//display: table
			h2
				display: block
				font-size: 80px
		.zoom-history
			top: 0
			left: 0
		.zoom-crimeans
			top: 0
			right: 0
		.zoom-heroes
			left: 0
			bottom: 0
		.zoom-nature
			right: 0
			bottom: 0
		.gallery
			display: none
			width: 100%
			height: 100%
			.two-photos-wrap
				position: absolute
				width: 500px
				height: 250px
				.photo-wrap
					width: 250px
					height: 250px
					display: inline-block
					margin: -2px
					overflow: hidden
					position: relative
					img 
						height: 100%
						width: auto
						position: absolute
			.top-left-photos
				left: -10%
				margin-left: -500px
				top: -10%
				margin-top: -250px
			.top-right-photos
				right: -10%
				margin-right: -500px
				top: -10%
				margin-top: -250px
			.bottom-left-photos
				left: -10%
				margin-left: -500px
				bottom: -10%
				margin-bottom: -250px
			.bottom-right-photos
				right: -10%
				margin-right: -500px
				bottom: -10%
				margin-bottom: -250px
			.top-left-photos-animate
				left: 50%
				margin-left: -500px
				top: 50%
				margin-top: -250px
			.top-right-photos-animate
				right: 50%
				margin-right: -500px
				top: 50%
				margin-top: -250px
			.bottom-left-photos-animate
				left: 50%
				margin-left: -500px
				bottom: 50%
				margin-bottom: -250px
			.bottom-right-photos-animate
				right: 50%
				margin-right: -500px
				bottom: 50%
				margin-bottom: -250px

